@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import "tailwindcss/utilities";

@import "tailwindcss";
@theme {
  --breakpoint-mobile: 767px; /* mobile max width */
  --breakpoint-tablet-min: 768px; /* tablet min width */
  --breakpoint-desktop: 1200px; /* desktop min width (fits 13.6" 2560x1664) */
  --breakpoint-ultrawide: 2560px;

  --color-sage-300: rgb(161, 177, 132);
  --color-olive-500: rgb(98, 106, 72);
  --color-graphite-700: rgb(64, 64, 64);
  --color-linen-50: rgb(250, 249, 246);
  --color-linen-200: rgb(249, 245, 231);
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-Italiana: "Italiana", serif;
}
/* Custom responsive utilities using your CSS variable breakpoint */
@layer utilities {
  @media (min-width: var(--breakpoint-desktop)) {
    .desktop\:block {
      display: block !important;
    }
    .desktop\:hidden {
      display: none !important;
    }
    .desktop\:flex {
      display: flex !important;
    }
  }
  @media (max-width: calc(var(--breakpoint-desktop) - 1px)) {
    .desktop\:hidden {
      display: block !important;
    }
  }
}
